<div class="container">
  <nav class="navbar shadow mb-4">
    <div>
      <a class="navbar-brand pb-2 h1" href="#">Dashboard</a>
    </div>
  </nav>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><i class="bi bi-file-fill"></i><a href="#" class="mr-cs">Statut</a></li>
      <li class="breadcrumb-item"><i class="bi bi-file-fill"></i><a href="#" class="mr-cs">Objectf</a></li>
      <li class="breadcrumb-item"><i class="bi bi-file-fill"></i><a href="#" class="mr-cs">Offre</a></li>
      <li class="breadcrumb-item">&nbsp;</li>
      <li class="breadcrumb-item"><i class="bi bi-calendar"></i><a href="#"> Début</a></li>
      <li class="breadcrumb-item"><i class="bi bi-calendar"></i><a href="#"> Fin</a></li>
    </ol>
  </nav>
  <button type="button" class="btn btn-primary">
    Single Button
  </button>
</div>

